<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CarHub</title>
    <link href="stylesheets/login.css" rel="stylesheet" type="text/css" />
    <script defer src="/js/login.js"></script>
  </head>

  <body class="login">
    <p>Car Hub</p>
    <body class="login">
    <div class = "container">
      <div class="form-box">
        <p style="font-size:20px">Login</p>
          <div class="input-group">
            <div class = "input-field">
              <input type = "text" placeholder = "Name">
            </div>
            
            <div class = "input-field">
              
              <input type = "email" placeholder = "Email">
            </div>

            <div class = "input-field">
              
              <input type = "password" placeholder = "Password">
            </div>
          </div>
          <button id="redirectButton">Login</button>
          <a href="register"> New user? </a><br />
        </form>
      </div>
    </div>
    </body>

    <script></script>
  </body>
</html>
