<html>
    <body>
        <button class = "newuser" button id="redirectButton">FindCar</button>
        <div class = "search">
            <input type ="text" placeholder="Enter car brand" spellcheck="false">
        </div> 
    </body>
    <script>
        
    </script>    

</html>
    
