<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CarHub</title>
    <link href="/stylesheets/register.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/c4254e24a8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="form-box">
        <p style = "font-size: 20px">Create your account</p>
        <form>
          <div class="input-group">
            <div class="input-field">
              <input type="text" placeholder="Username" />
            </div>

            <div class="input-field">
              <input type="email" placeholder="Email" />
            </div>

            <div class="input-field">
              <input type="password" placeholder="Password" />
            </div>
          </div>
          <div class="btn-field">
            <button id="redirectButton">Create account</button>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    document
      .getElementById("redirectButton")
      .addEventListener("click", redirect);
    function redirect() {
      window.location = "homePage.html";
    }
  </script>
</html>
