<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>CarHub</title>
    <link href="/stylesheets/signup.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="form-box">
        <p style = "font-size: 20px">Create your account</p>
        <form action="/signup" method="post" >
          <div class ="input-group"><input placeholder="Name" name="username" type="text"></div>
          <br>
          <div class ="input-group"><input placeholder="Password" name="password" type="password"></div>
          <br>
          <div class ="input-group"><input placeholder="Confirm Password" name="confirmPassword" type="password"></div>
          <br>
          <button class="button" type="submit">Create Account</button>
      </form>
          
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>
